<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit Details</h1>
    <mat-dialog-content>
        
      <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phonenumber</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.phonenumber" matInput placeholder="enter phonenumber" />
            <!-- <mat-hint>Please enter a phonenumber</mat-hint> -->
          </mat-form-field>
      </div>
    
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button (click)="dialogRef.close()" [disabled]="loading" mat-button>Cancel</button>
      <button (click)="saveUser()" [disabled]="loading" mat-button cdkFocusInitial>Save</button>
    </mat-dialog-actions>
    </div>
