.user-detail-header {
  min-height: 250px;
  background-color: #ff5b27;
  color: white;
  display: flex;
  padding: 8px;
  justify-content: flex-end;

  .user-detail-header-content {
    display: flex;

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

.user-details {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100px;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: -10px;
  }
}

.pin-upper-corner-right {
  position: absolute;
  top: 0;
  right: 0;
}
