<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phonenumber</th>
      </tr>
      <tr>
        <td>Userfirstname</td>
        <td>Userlastname</td>
        <td>Useremail</td>
        <td>Userphonenumber</td>

      </tr>
    </table>

  </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
  </button>